<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="login-usuario">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <!--h2>Hello [[prop1]]!</h2 -->
    <div class="row">
     <h2 class="col-md-12">Login usuario</h1>

    <!--input type="text" value="{{first_name::input}}"/-->
    <!--input type="range" min="1" value="{{id::input}}" max="1000"/-->
  </div>
  <input type="email" placeholder="Email" value="{{email::input}}">
  <input type="password" placeholder="Password" value="{{password::input}}">
  <button class="btn btn-success" on-click="login">Login</button>
  <!--button class="btn btn-warning">Logout</button-->
  <span hidden$="{{!isLogged}}">Si esto sale nos podemos ir.</span>

  <h3 class="col-md-3">Id de usuario</h3>
  <input  type="text" value="{{id::input}}" max="1000">

  <iron-ajax
      id="doLogin"
      url="http://localhost:3000/apitechu/v2/login"
      content-type="application/json"
      method="POST"
      handle-as="json"
      on-response="manageAJAXResponse"
      on-error="showError"
  ></iron-ajax>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class LoginUsuario extends Polymer.Element {
      static get is() { return 'login-usuario'; }
      static get properties() {
        return {
          email: {
            type: String,
          }, password: {
            type: String,
          }, isLogged : {
            type: Boolean,
            value: false
          }
        };
       }

       login(){
         console.log("El usuario ha pulsado el botón");
         var loginData = {
           "email" : this.email,
           "password" : this.password
         };

         this.$.doLogin.body = JSON.stringify(loginData);
         this.$.doLogin.generateRequest();
         console.log("Petición enviada");
       }
       manageAJAXResponse(data){
         console.log("Recibida respuesta del servidor");
         console.log(data.detail.response);
         this.isLogged = true;
         window.location = "/user/" + data.detail.response.idUsuario;
       }
       showError(error) {
         console.log("Hubo un error");
         console.log(error);
       }
     }

    window.customElements.define(LoginUsuario.is, LoginUsuario);
  </script>
</dom-module>
