<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="visor-cuentas">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <!--h2>Hello [[prop1]]!</h2 -->
    <div class="row">
     <h1 class="col-md-12">Visor cuentas</h1>
     <h2 class="col-md-3">El IBAN es {{iban}}</h2>
     <h2 class="col-md-3">el USER_ID {{userid}} </h2>
     <h2 class="col-md-7"> el Balance es {{balance}} </h2>
    <!--input type="text" value="{{first_name::input}}"/-->
    <!--input type="number" min="1" value="{{userid::input}}" max="30"/-->
  </div>
  <!--button class="btn btn-success">Login</button-->
  <!--button class="btn btn-warning">Logout</button-->
  <!--h3 class="col-md-3">Id de usuario</h3-->
  <!--input  type="text" value="{{id::input}}" max="100"-->

  <h1>Sus cuentas</h1>

  <template is="dom-repeat" items="{{accounts}}">
       <h3>IBAN - {{item.IBAN}}</h3>
       <h3>Saldo - {{item.BALANCE}}</h3>
       </br>
     </template>

    <iron-ajax
      auto=""
      id="getAccounts"
      url="http://localhost:3000/apitechu/v2/users/{{userid}}/accounts"
      handle-as="json"
      on-response="showData"
      ></iron-ajax>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorCuentas extends Polymer.Element {
      static get is() { return 'visor-cuentas'; }
      static get properties() {
        return {
          iban : {
            type: String
          }, userid : {
            type: Number
          }, balance : {
            type: Number
          }, accounts: {
            type: Array
          }
        };
       }

       showData(data){
         console.log("Recibidos datos de cuentas")


         console.log(data.detail.response);
         //console.log(data.detail.response.IBAN);
         //console.log(data.detail.response.USERID);
         // console.log(data.detail.response.BALANCE);

         this.accounts = data.detail.response;
         this.iban = data.detail.response[0].IBAN;
         this.userid = data.detail.response[0].USERID;
         this.balance = data.detail.response[0].BALANCE;



       }
      }

    window.customElements.define(VisorCuentas.is, VisorCuentas);
  </script>
</dom-module>
