<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="visor-usuario">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <!--h2>Hello [[prop1]]!</h2 -->
    <div class="row">
     <h1 class="col-md-12">Visor usuario</h1>
     <h2 class="col-md-3">El usuario es {{first_name}} {{last_name}}</h2>
     <h2 class="col-md-3">con email {{email}} </h2>
     <h2 class="col-md-7"> la id que busco es {{id}} </h2>
     <button class="btn btn-link">
       <a href="/user/{{id}}/accounts">Ver mis cuentas</a>
     </button>
    <!--input type="text" value="{{first_name::input}}"/-->
    <!--input type="range" min="1" value="{{id::input}}" max="1000"/-->
  </div>
  <!--button class="btn btn-success">Login</button-->
  <!--button class="btn btn-warning">Logout</button-->
  <h3 class="col-md-3">Id de usuario</h3>
  <input  type="text" value="{{id::input}}" max="100">

    <iron-ajax
      auto=""
      id="getUser"
      url="http://localhost:3000/apitechu/v2/users/{{id}}"
      handle-as="json"
      on-response="showData"
      ></iron-ajax>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorUsuario extends Polymer.Element {
      static get is() { return 'visor-usuario'; }
      static get properties() {
        return {
          first_name : {
            type: String,
          }, last_name : {
            type: String,
          }, id : {
            type: Number
          }, email : {
            type: String
          }
        };
       }

       showData(data){
         console.log("Recibidos datos de usuarios")
         console.log(data.detail.response[0]);
         console.log(data.detail.response[0].id);
         console.log(data.detail.response[0].first_name);
         console.log(data.detail.response[0].last_name);
         console.log(data.detail.response[0].email);

         this.id = data.detail.response[0].id;
         this.first_name = data.detail.response[0].first_name;
         this.last_name = data.detail.response[0].last_name;
         this.email = data.detail.response[0].email;

       }
      }

    window.customElements.define(VisorUsuario.is, VisorUsuario);
  </script>
</dom-module>
